<!DOCTYPE HTML>
<html>
<head>
	<title>Notable</title>
</head>
<body>

<h1>This is the Diagram View.</h1>
	
<img alt="diagram" src="diagram.png">

<p>This view displays what your note would look like if things were in diagrams.
	It is where you would create mindmaps and venn diagrams and charts.
	It is made for seeing relationships and connections between various ideas.
	It is mainly for people who think in a left-right, horizontal manner.</p>

<footer>
	<a href="http://www.notable123.com">HOME</a>
</footer>

</body>
</html>