<!DOCTYPE HTML>
<html>
<head>
	<title>Notable</title>
</head>
<body>

<h1>This is the Outline View.</h1>

<img alt="outline" src="outline.png">
	
<p>This view displays what your note would look like if things were in lists.
	It is where you would create outlines with bullets and sub-items.
	It is made for organizing and prioritizing ideas so you can see hierarchy.
	It is mainly for people who think in a top-down, vertical manner.</p>
	

<footer>
	<a href="http://www.notable123.com">HOME</a>
</footer>

</body>
</html>