<!DOCTYPE HTML>
<html>

<head>
	<title>Notable</title>
</head>

<body>
	<h1>This is the Sketch View</h1>

	<img alt="sketch" src="sketch.png">
	
	<p>This view displays what your note would look like if there were no grids or alignment.
	It is where you would perform freeform drawing, sketching or writing.
	It is made for quickly jotting down ideas before they need much structure.
	It is mainly for people who don't think in any kind of ordered manner.</p>
	


<footer>
	<a href="http://www.notable123.com">HOME</a>
</footer>

</body>
</html>